doctype html
html(class="dark")
	head
		meta(charset='UTF-8')
		script(src="/index.js")
		link(rel="stylesheet" href="/index.css")
	body
		#container
			h1 iCalendar parser
			form
				textarea#url(type="text" placeholder="Calendar URL")
				br
				input#regexp(type="text" placeholder="Your RegExp")
				br
				input#generate(type="button" value="Generate")
			br
			br
			span Result:
			br
			textarea#result(type="text" readonly)